.root {
  background-image: url('../../../assets/bg-blur.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding-top: 100px;
}

.login-button{
    margin-bottom: 20px;
}

.logo{
    height: 200px;
    margin-bottom: 50px;
}

button {
    width: 200px;
    padding: 10px 20px;
    img {
    vertical-align: middle;
    width: 25px;
    }
}