.table {
  width: 100vw;
  height: 100vh;
  background-color: green;
  background: url(/assets/001.jpg) fixed center;
  background-size: cover;
}

div {
  text-align: center;
}

.benchmark {
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  color: white;
  opacity: 0.5;
  filter: alpha(opacity=50);
  z-index: 2000;
  width: 400px;
  height: 300px;
  padding: 5px;
  overflow: scroll;
  overflow-x: hidden;
  text-align: left;
  h3 {
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      padding: 0;
      margin: 0;
      text-align: left;
      list-style: none;
      font-family: 'Roboto Mono', monospace;
      font-size: 11px;
    }
  }
}

.drag-border {
  width: 70px;
}
