span {
  display: inline-block;
  height: 146px;
  padding: 5px;
}

.drag-over-border {
  width: 70px;
}

.turn-time {
  position: fixed;
  bottom: 10px;
}

.status {
  margin-top: 50px;
  display: block;
  color: white;
  text-align: center;
}
