<div class='container'>
  <div class='header'>
    <img class='logo' src='../../../assets/logo.png'>
    <div class='welcoming'>
      <img class='photo' [src]="photo">
      <span class="text">{{name}}</span>
    </div>
  </div>
  <div class="content">
    <mat-nav-list class="navigation">
      <a mat-list-item routerLink="play">Play</a>
      <a mat-list-item routerLink="history">History</a>
      <a mat-list-item (click)="logout($event)">logout</a>
    </mat-nav-list>
    <div class="outlet">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
